.home {
    color: $text-color-darkgray;
    padding-top: 2.7rem;
    font-family: $font-family-main;

    @include respond-to($breakpoint-lg) {
        padding-top: 1.3rem;
    }

    .home-content-intro {
        margin: $container-margin;

        padding: $container-padding;
        display: flex;
        flex-direction: column;

        &__title,
        &__subtitle,
        &__caption,
        &__buttons {
            text-align: center;
        }

        &__title {
            color: $background-color-debian;
            font-size: $font-size-giant;
            font-weight: $font-weight-black;
            font-family: $font-family-secondary;

            margin-bottom: 2rem;

            @include respond-to($breakpoint-lg) {

                font-size: $font-size-giant-mobile;
                margin-bottom: 1.7rem;
            }

            @include respond-to($breakpoint-sm) {
                width: 100%;
                font-size: 7rem;
                transform: translateX(-4px);
            }
        }

        &__subtitle {
            font-size: $font-size-xxl;
            font-weight: $font-weight-extra-light;

            @include respond-to($breakpoint-lg) {
                font-size: $font-size-xxl-mobile;
            }
        }

        &__caption {
            margin-top: 10px;
            font-weight: $font-weight-light;
            font-size: $font-size-xl;

            margin-bottom: 2rem;

            @include respond-to($breakpoint-lg) {
                font-size: $font-size-xl-mobile;
                height: 3rem; // Evita movimiento de camara.
                margin-bottom: 1.3rem;
            }
        }

        &__buttons {


            @include respond-to($breakpoint-lg) {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                position: relative;
                margin-top: 1rem;
                margin-bottom: 3rem;
            }

            .home-content-intro__button {

                margin: 2rem;
                background-color: $background-color-debian;
                padding: 1rem;
                color: $text-color-white;
                text-decoration: none;
                font-size: $font-size-l;
                transition: background-color 0.3s ease;

                @include respond-to($breakpoint-lg) {
                    margin: 5px;
                    width: 50%;
                    font-size: $font-size-l-mobile;
                }

                &:hover {
                    background-color: darken($background-color-debian, 10%); // Oscurece el color en un 10%
                }

                &:last-child {
                    background-color: $background-color-body;
                    color: $background-color-main-lightmode;
                    border: 0.15rem solid $background-color-debian;
                    padding: 0.85rem;

                    &:hover {
                        background-color: $background-color-debian;
                        color: $text-color-white;

                    }
                }

                &-icon {

                    margin-left: 10px;

                    font-size: $font-size-l;
                    transform: translateY(1px);
                }


            }

            margin: 3rem 0 5rem 0;

        }


        &__image-element {
            display: flex;
            justify-content: center;
            margin: 0 auto;

            filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.1));
            /* Sombra sutil */
            width: 70rem;
            -webkit-filter: drop-shadow(1.5px 1.5px 1.5px #222);
            filter: drop-shadow(1.5px 1.5px 1.5px #222);

            @include respond-to($breakpoint-lg) {
                transform: translateX(-3px);
                width: calc(100% + .5rem);
                margin-bottom: 2.5rem;
            }
        }

        &__special-feature-mobile {
            @include respond-to($breakpoint-lg) {
                margin-top: 1.5rem;
                display: flex;
                flex-direction: column-reverse;
            }
        }

    }

    .home-content-news {
        background-color: #ffff;
        padding: $container-padding;

        &__logo {
            display: flex;
            justify-content: center;
            margin: 2rem auto;
            width: 10rem;

            @include respond-to($breakpoint-lg) {
                width: calc(30% + 0rem);

            }
        }

        &__title {
            text-align: center;
            font-size: $font-size-xxl;
            color: $text-color-darkgray;
            font-weight: $font-weight-light;
            margin-top: 1rem;
        }

        &__text {
            text-align: center;
            color: $text-color-darkgray;
            font-weight: $font-weight-light;
            margin: 1rem 15%;
            line-height: 1.5;

            @include respond-to($breakpoint-lg) {

                margin: 1rem .5rem;
            }
        }

        &__cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            @include respond-to($breakpoint-lg) {
                /* 
                display: flex; 
                overflow-x: auto; 
                white-space: nowrap; 
                padding: 1rem;
                */
                grid-template-columns: 1fr;
                grid-template-rows: auto;
            }
        }
    }

    .home-content-performance {
        overflow: hidden;
    
        margin: $container-margin;
        &__block {
            display: grid;
            grid-template-columns: 1fr 1fr;

            @include respond-to($breakpoint-lg) {
                display: flex;
                flex-direction: column;
             
                margin-top: 3.5rem;

            }

            &--second {

                @include respond-to($breakpoint-lg) {
                    margin-bottom: 3.5rem
                }

            }
        }

        &__text {

            text-align: left;
            font-size: $font-size-l;
            font-weight: $font-weight-regular;
            line-height: 1.5;
            color: $text-color-darkgray;
            margin: auto;
            width: 30rem;

            position: relative;
            left: 17%;


            @include respond-to($breakpoint-lg) {
                font-size: $font-size-l-mobile;
                width: 100%;
                left: 0px;
                margin: 0;
                padding: 0;
            }

            &--second {
                width: 100%;
                margin: auto;
                left: auto;
                right: 15%;
                width: 40rem;

                @include respond-to($breakpoint-lg) {
                    font-size: $font-size-l-mobile;
                    width: 100%;
                    left: 0px;
                    margin: 0;
                    padding: 0rem;
                    width: 100%;
                }
            }

            &--title {
                font-weight: $font-weight-bold;
                font-size: $font-size-xxxl;
                margin-bottom: .5rem;

                @include respond-to($breakpoint-lg) {
                    font-size: $font-size-xxxl-mobile;

                }

                &--second {
                    @include respond-to($breakpoint-lg) {
                        font-size: $font-size-xxxl-mobile;
                    }
                }

                &-icon {
                    transform: scale(4) translateX(.6rem) translateY(-.3rem);
                }
            }

        }

        &__image-element {
            filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
            width: 65rem;
            position: relative;
            right: 15%;
            transform: rotate(-20deg);

            @include respond-to($breakpoint-lg) {

                width: calc(100% + 2rem);
                left: -10%;
            }

            &--second {
                width: 40rem;
                transform: rotate(0deg);
                left: 15%;

                @include respond-to($breakpoint-lg) {

                    width: 55%;
                    left: 0px;

                }
            }
        }
    }


    .home-content-foss {
        background-color: #ffff;
        padding: $container-padding;
        text-align: center;
        color: $text-color-darkgray;

        @include respond-to($breakpoint-lg) {
           
        }

        &__intro {
            margin: 0 25%;
            @include respond-to($breakpoint-lg) {
                margin: 2.5rem auto;
                width: 100%;
            }
        }

        &__title {
            font-weight: $font-weight-bold;
            font-size: $font-size-xxxl;
            width: 60%;
            margin: 2rem auto;
            margin-top: 3rem;

            @include respond-to($breakpoint-lg) {
                font-size: $font-size-xxxl-mobile;
                width: 90%;
                font-size:$font-size-xxxl-mobile;
                margin: 1.5rem auto;
            }

        }

        &__description {
            font-size: $font-size-l;
            font-weight: $font-weight-light;
            margin: 2rem auto;
            margin-bottom: 1rem;
            width: 70%;
            line-height: 1.3;

            @include respond-to($breakpoint-lg) {
                width: 100%;
                font-size: $font-size-l-mobile;
                margin: 0 0 1rem 0;
            }

        }

        &__link {
            color: $text-color-anchor;
            margin: 1rem 0 2rem 0;
            font-size: $font-size-l;
            @include respond-to($breakpoint-lg) {
                font-size: $font-size-l-mobile;
            }
        }

        &__features {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 65%;
            margin: 2rem auto;
            font-weight: $font-weight-light;
            line-height: 1.3;
            font-size: $font-size-l;
            @include respond-to($breakpoint-lg) {
                width: 100%;
                flex-direction: column;
                font-size: $font-size-l-mobile;
            }
        }

        &__feature {
            width: 48%;
            margin: 1%;

            @include respond-to($breakpoint-lg) {
                margin: 1rem auto;
                width: 100%;
            }

            &-title {
                font-size: $font-size-xl;
                margin: 1rem;
                @include respond-to($breakpoint-lg) {
                    font-size: $font-size-xl;
                    width: 90%;
                    margin: 0 auto;
                }
            }

            &-description {
                margin: 1rem;
                font-size: $font-size-l;
            }

            &-link {
                color: $text-color-anchor;
                font-weight: $font-weight-regular;
                font-size: $font-size-l;
            }
        }
    }


    .home-content-faq {
        padding: $container-padding;

        &__title {
            text-align: center;
            margin-top: 3rem;
            margin-bottom: 4rem;
            font-size: $font-size-xxxl;
            font-weight: $font-weight-bold;
            @include respond-to($breakpoint-lg) {
                font-size: $font-size-xxxl-mobile;
            }

        }

        &__questions {
            text-align: left;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 3rem;
            line-height: 1.5;
            grid-template-rows: 1fr 1fr;
            width: 65%;
            margin: 0 auto;
            margin-bottom: 4rem;

            @include respond-to($breakpoint-lg) {
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                text-align: center;
                margin: 2.5rem auto;
                width: 100%;
            }

        }


        &__text {
            margin: 0 1rem;
            font-size: $font-size-l;
            display: flex;
            flex-direction: column;

            &--question {
                font-size: $font-size-xl;

                margin: 0;
                font-weight: $font-weight-bold;
            }
        }


    }

    .home-content-sponsors {
        padding: $container-padding;
        background-color: #ffff;

        &__title {
            margin-top: 3rem;
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;
            font-size: $font-size-xxxl;
            font-weight: $font-weight-bold;

            @include respond-to($breakpoint-lg) {
                text-align: center;
                width: 100%;
                margin-top: 2.5rem;
            }
        }

        &__text {
            display: flex;
            justify-content: center;
            font-weight: $font-weight-light;
            font-size: $font-size-l;
            width: 50%;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 2rem;
            line-height: 1.5;

            @include respond-to($breakpoint-lg) {
                
                width: 90%;
            }
        }

        &__images {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 5%;
            margin-bottom: 3rem;

            img {

                max-width: auto;
                height: 60px;
                margin: 25px;

                @include respond-to($breakpoint-lg) {
                    max-width: 100%;
                }

            }
        }

        img {}
    }
}