.footer {
    background-color: #460012;
    padding: $container-padding;
    color: $text-color-white;
    font-family: $font-family-main;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 2rem;

        a {
            color: $text-color-gray;
        }
    }

    &__item {
        margin: 1rem;
        display: flex;
        flex-direction: column;
    }

    &__link {
        margin: .15rem 0;
    }

    &__social {
        margin: 1rem;
    }

    &__icon{
        margin: 1rem;
        cursor: pointer;
    }
}