.article {
    color: $text-color-darkgray;
    font-family: $font-family-main;
    margin: $container-margin;
    min-height: 43.4vh;
    padding: 2% 20% 2% 20%;

    @include respond-to($breakpoint-xxl) {
        padding: $container-padding;
    }

    &-back {
        display: flex;
        align-items: center;
        gap: .3rem;
    }

    &-title {
        font-size: $font-size-xxxl;
        margin: 1rem 0;
    }

    &-date {
        margin: 1rem 0;
    }

    &-content {
        margin: 1rem 0;
        font-size: $font-size-l;
    }
}